*.o
*.log
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
jupiter-*.tar.gz
stamp-h1
test-driver
common/.deps
common/Makefile
common/Makefile.in
common/libjupcommon.a
src/.deps
src/Makefile
src/Makefile.in
src/greptest.sh*
src/jupiter
src/jupiter.dSYM
